@page
@model ManageModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Web.Pages.Account
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Coso.Abp.Theme.AdminLTE.Localization
@inject IThemeManager ThemeManager

@inject IHtmlLocalizer<AccountResource> L
@inject IHtmlLocalizer<AdminLTEResource> IL
@{ Layout = ThemeManager.CurrentTheme.GetApplicationLayout(); }
@section scripts {
    <abp-script-bundle name="@typeof(ManageModel).FullName" />
}
<abp-row class="entry-row">
    <div class="col-auto">
        <h1 class="content-header-title">@L["ManageYourProfile"]</h1>
    </div>
    <div class="col-lg-auto pl-lg-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"> <i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item active"> @L["ManageYourProfile"] </li>
        </ol>
    </div>
    <div class="col">
        <div class="row justify-content-end mx-n1">
            <div class="col-auto px-1 pt-2">

            </div>
        </div>
    </div>
</abp-row>

<div id="ProfileManagementWrapper">
    <abp-card>
        <abp-card-body>
            <abp-tabs tab-style="PillVertical" vertical-header-size="_3">
                @foreach (var group in Model.ProfileManagementPageCreationContext.Groups)
                {
    <abp-tab title="@IL[group.DisplayName.ToString()].Value">
        <h2>@IL[group.DisplayName]</h2>
        <hr class="my-4" />
        @await Component.InvokeAsync(group.ComponentType, new
        {
            parameter = group.Parameter
        })
    </abp-tab>}
            </abp-tabs>
        </abp-card-body>
    </abp-card>
</div>